<?xml version="1.0"?>
<robot name="slam_robot">

  <material name="blue">
    <color rgba="0.47 0.64 1 1" />
  </material>
  <material name="black">
    <color rgba="0.1 0.1 0.1 1" />
  </material>
  <material name="gray">
    <color rgba="0.7 0.7 0.7 1" />
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.15 0.1"/>
      </geometry>
      <material name="blue" />
    </visual>
  </link>

  <link name="lidar">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.025"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="black" />
    </visual>
  </link>

  <link name="left_wheel_back">
    <visual>
      <geometry>
        <cylinder radius="0.045" length="0.014"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <material name="gray" />
    </visual>
  </link>

    <link name="left_wheel_front">
    <visual>
      <geometry>
        <cylinder radius="0.045" length="0.014"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <material name="gray" />
    </visual>
  </link>

  <link name="right_wheel_back">
    <visual>
      <geometry>
        <cylinder radius="0.045" length="0.014"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <material name="gray" />
    </visual>
  </link>

    <link name="right_wheel_front">
    <visual>
      <geometry>
        <cylinder radius="0.045" length="0.014"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <material name="gray" />
    </visual>
  </link>

  <joint name="base_lidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar" />
    <origin xyz= "-0.07 0 0.1125" rpy= "0 0 0" />
  </joint>

  <joint name="base_left_wheel_back_joint" type="fixed">
    <parent link="base_link" />
    <child link="left_wheel_back" />
    <origin xyz= "-0.0625 0.082 0.02" rpy= "0 0 0" />
    <axis xyz= "0 1 0" />
  </joint>

  <joint name="base_left_wheel_front_joint" type="fixed">
    <parent link="base_link" />
    <child link="left_wheel_front" />
    <origin xyz= "0.0625 0.082 0.02" rpy= "0 0 0" />
    <axis xyz= "0 1 0" />
  </joint>

  <joint name="base_right_wheel_back_joint" type="fixed">
    <parent link="base_link" />
    <child link="right_wheel_back" />
    <origin xyz= "-0.0625 -0.082 0.02" rpy= "0 0 0" />
    <axis xyz= "0 1 0" />
  </joint>

  <joint name="base_right_wheel_front_joint" type="fixed">
    <parent link="base_link" />
    <child link="right_wheel_front" />
    <origin xyz= "0.0625 -0.082 0.02" rpy= "0 0 0" />
    <axis xyz= "0 1 0" />
  </joint>
</robot>
